<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/styles/nav.css" />
<link rel="stylesheet" type="text/css" href="/styles/index.css" />
<meta charset="ISO-8859-1">
<title>Cancel Order</title>
</head>
<body>
	<header>
		<div>Spark</div>
		<nav>
			<ul class="nav_links">
				<li><a href="/collections">Collections</a>
				<li><a href="/orders">Orders</a>
				<li><a href="/register">Sign Up</a></li>
				<li><a href="/login">Log In</a></li>
			</ul>
		</nav>
		<a class="cta" href="/logout"><button>Logout</button></a>
	</header>
<h1>Your Order Has Been Cancelled!</h1>
</body>
</html>