<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="/styles/login.css" />
<link rel="stylesheet" type="text/css" href="/styles/nav.css" />
<meta charset="ISO-8859-1">
<title>Contact Us</title>
<body>
	<header>
		<div>Spark</div>
		<nav>
			<ul class="nav_links">
				<li><a href="/home">Home</a></li>
				<li><a href="/collections">Collections</a>
				<li><a href="/orders">Orders</a>
				<li><a href="/register">Sign Up</a></li>
				<li><a href="/login">Log In</a></li>
			</ul>
		</nav>
		<a class="cta" href="/logout"><button>Logout</button></a>
	</header>

</body>
</html>