<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="/styles/nav.css" />
<link rel="stylesheet" type="text/css" href="/styles/index.css" />
<meta charset="ISO-8859-1">
<title>Home</title>
</head>
<body>
	<header>
		<div>Spark</div>
		<nav>
			<ul class="nav_links">
				<li><a href="/collections">Collections</a>
				<li><a href="/orders">Orders</a>
				<li><a href="/register">Sign Up</a></li>
				<li><a href="/login">Log In</a></li>
			</ul>
		</nav>
		<a class="cta" href="/logout"><button>Logout</button></a>
	</header>
	<div class="parent">
		<div class = "child">
			<img src = "https://images.pexels.com/photos/2113855/pexels-photo-2113855.jpeg?auto=compress&cs=tinysrgb&w=1600" class=center width="1000px" height="600px">
		</div>
		<div class="child">
			<h1 class="innerh1">New Products</h1>
			<h1 class="innerh1">Coming Soon</h1>
		</div>
	</div>
		<footer>
		<a href="/contactus">Contact Us</a>
	</footer>
</body>
</html>