<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="/styles/login.css" />
<link rel="stylesheet" type="text/css" href="/styles/nav.css" />
<meta charset="ISO-8859-1">
<title>Login</title>
	
</head>
<body>
	<header>
		<div>Spark</div>
		<nav>
			<ul class="nav_links">
				<li><a href="/home">Home</a></li>
				<li><a href="/collections">Collections</a>
				<li><a href="/orders">Cart</a>
				<li><a href="/register">Sign Up</a></li>
				
			</ul>
		</nav>
		<a class="cta" href="/contactus"><button>Contact Us</button></a>
	</header>
<h1>Welcome to the Login Page</h1>

	<div th:if="${param.logout}">
			<div class="alert alert-success">You have been logged out.</div>
	</div>
<div id ="login">
	<!-- 		<form method="get" role="form" th:action="@{/home}"> -->
		<form method="post" role="form" th:action="@{/login}">
			<h1>Login</h1>
			<label for="email">Enter Email:</label>
			<input type="email" id = "email" name = "email">
			<br/>
			
			<label for="password">Enter Password:</label>
			<input type = "password" id ="passowrd" name = "password">
			<br/>
			
			<button type="submit">Login</button>
			<a href="/register">Sign Up!</a>
			
		</form>
	</div>

</body>
</html>