<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Login</title>
	
</head>
<body>
<h1>Welcome to the Login Page</h1>
	<div th:if="${param.error}">
		<div class="alert alert-danger">Invalid Email or Password</div>
	</div>
	<div th:if="${param.logout}">
			<div class="alert alert-success">You have been logged out.</div>
	</div>
<div id ="login">
<!-- 		<form method="get" role="form" th:action="@{/home}"> -->
		<form method="post" role="form" th:action="@{/login}">
			<h1>Login</h1>
	
			<p>Insert account information</p>
			<table cellspacing="1" cellpadding="1" border="1">
				<tr>
					<td><input type="text" id="name" placeholder="Email" /></td>
				</tr>
				<tr>
					<td><input type="password" name="password" value=""
						id="password" placeholder="Password" /></td>
				</tr>
			</table>
			<input type="checkbox" id="stayLoggedIn" name="stay" value="agree">
			<label for="stay">Stay logged in	</label><br> 
			<input type="submit" value="Submit" />
			</form>
		</div>
</body>
</html>