<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet"  type="text/css" href="../static/styles/nav.css"/>
</head>
<body>
	 <header>
        	<div>Spark</div>
        	<nav>
        	<ul class="nav_links">
				  <li ><a href="/collections">Collections</a>
				  <li ><a href="/orders">Orders</a>
                  <li ><a href="/register">Sign Up</a></li>
                  <li ><a href="/login">Log In</a></li>
             </ul>
        	</nav>
        	<a class="cta" href="/contactus"><button>Contact Us</button></a>
        </header>
</body>
</html>