<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="/styles/login.css" />
<link rel="stylesheet" type="text/css" href="/styles/nav.css" />



<meta charset="ISO-8859-1">
<title>Create Account</title>
</head>
<body>
	<header>
		<div>Spark</div>
		<nav>
			<ul class="nav_links">
				<li><a href="/home">Home</a></li>
				<li><a href="/collections">Collections</a>
				<li><a href="/orders">Orders</a>
				<li><a href="/login">Log In</a></li>
			</ul>
		</nav>
		<a class="cta" href="/contactus"><button>Contact Us</button></a>
	</header>
<h1>Welcome to the Registration Page</h1>
<!-- 	<h1>Register</h1> -->
	 <div th:if="${param.success}">
          <div class="alert alert-info">
            You have successfully registered our app!
          </div>
      </div>
	<form  method="post" role="form"
            th:action="@{/register/save}"
            
            th:object="${user}">
            <h1>Register</h1>
		<label for = "firstName">Frist Name: </label>
		<input type ="text" id="fName" th:field="*{fName}">
		<p th:errors = "*{firstName}" class="text-danger"
              th:if="${#fields.hasErrors('fName')}"></p>
		<br />
		
		<label for = "lastName">Last Name: </label>
		<input type ="text" id="lName" th:field="*{lName}">
		<p th:errors = "*{lastName}" class="text-danger"
              th:if="${#fields.hasErrors('lName')}"></p>
		<br />
		
		<label for = "email">Email: </label>
		<input type ="email" id="email" th:field="*{email}">
		<br />
		
		<label for = "password">Password: </label>
		<input type ="password" id="password" th:field="*{password}">
		<br />
		<button type = "submit" id="create-acc" th:onclick="return validateForm()">Register</button>
		<a href="/login">Login In</a>
		
	</form>
	<script src="/scripts/Validate.js"></script>
</body>
</html>