<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="/styles/nav.css" />
<head>
    <meta charset="UTF-8">
    <title>View Cart</title>
</head>
<body>


<header>
		<div>Spark</div>
		<nav>
			<ul class="nav_links">
				<li><a href="/home">Home</a>
				<li><a href="/collections">Collections</a>
				<li><a href="/register">Sign Up</a></li>
				<li><a href="/login">Log In</a></li>
			</ul>
		</nav>
		<a class="cta" href="/contactus"><button>Contact Us</button></a>
	</header>
	
    <h1>My Cart</h1>
    <table>
    	
        <tr>
            <th>Product Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
        <tr th:each="item : ${myorder.items}">
            <td th:text="${item.product.name}"></td>
            <td th:text="${item.product.price}"></td>
            <td th:text="${item.quantity}"></td>
            <td th:text="${item.quantity * item.product.price}"></td>
        </tr>
        <tr>
            <td colspan="3" align="right">Total:</td>
            <td th:text="${myorder.total}"></td>
        </tr>

    </table>
    <form  action="orders/cancelorder">
        	<input type="hidden" name = "id" th:value="${myorder.id}"/>
        <button type="submit">Cancel Order</button>
    </form>

</body>
</html>